<app-hero></app-hero>

<main id="main">

    <!-- ======= Why Us Section ======= -->
    <app-why-us></app-why-us>
    <!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <app-about></app-about>
    <!-- End About Section -->
    
    <!-- ======= Services Section ======= -->
    <app-services></app-services>
    <!-- End Services Section -->
    
    <!-- ======= Departments Section ======= -->
    <app-departments></app-departments>
    <!-- End Departments Section -->

    <!-- ======= Doctors Section ======= -->
    <app-doctors></app-doctors>
    <!-- End Doctors Section -->

    <!-- ======= Gallery Section ======= -->
    <app-gallery></app-gallery>
    <!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <app-contact></app-contact>
    <!-- End Contact Section -->

  </main><!-- End #main -->